* {
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
}

.jumbotron {
  background-color: FOAD4E;
  width: 600px;
}

.jumbotron p {
  margin: 5px;
  font-size: 14px;
  width: 50%;
}

.navBar {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
}

.navBarItem {
  padding: 10px;
}

.goalBox {
  display: flex;
  border: 1px solid grey;
  margin: 2px;
  width: 35%;
  height: 30%;
  margin-left: 0;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.goalText {
  width: 50%;
  vertical-align: bottom;
}

.goalsContainer {
  display: flex;
  width: 100%;
  // align-items: flex-start;;
  flex-direction: row;
  flex-wrap: wrap;
  // padding: 30px;
  margin: 30px 0px 30px 0px;
}
// .inlineButton {
//   display: inline-block;
// }
.sticker {
  background-color: white;
  border: 1px solid black;
  margin: 10px;
}

.sticker-container {
  display: flex;
  flex-wrap: wrap;
  }
.addToCalendar {
  font-size: 14px;
}

.btn-xs {
  margin-right: 5px;
}
