* {
  font-family: 'Dosis', sans-serif;
}

.jumbotron {
  background-color: FOAD4E;
  width: 85%;
  padding-left: 10px;
  margin-left: 0px;
}

.jumbotron p {
    margin: 5px;
    font-size: 12px;
    width: 50%;
}

.navBar {
    display: flex;
    justify-content: flex-end;
}

.navBarItem {
    padding: 10px;
}

.container {
    width: 500px;
    margin-top: 10px;
    padding-left: 0;
}

h1,
h2 {
    font-family: 'Teko', sans-serif;
}

h2 {
    font-size: 14px;
    margin-top: 5px;
}

.quotes {
    width: 40%;
    text-align: right;
    font-size: 11px;
    font-style: italic;
}

.quote {
  font-size: 11px;
}

.calendar {
    font-size: 10px;
    color: grey;
}

.col-sm-2 control-label {
    text-align: left;
    width: 100px;
}

.goalBox {
    display: flex;
    border: 1px solid grey;
    margin: 2px;
    width: 75%;
    margin-left: 0;
    flex-direction: row;
    padding: 10px;
}

.goalText {
    width: 50%;
    vertical-align: bottom;
}

.goalsContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px 0;
}

.sticker {
    background-color: white;
    border: 1px solid black;
    margin-left: 0px;
    margin-bottom: 2px;
    margin-right: 10px;
    margin-top: 5px;
}

.sticker-container {
    display: block;
}

.addToCalendar {
    font-size: 12px;
}

.btn-xs {
    margin-right: 5px;
}

footer {
    text-align: center;
    font-size: 10px;
    margin-bottom: 10px;
}


// .tagline {
//     width: 350px;
//     margin-right: 0;
//     font-size: 11px;
//     font-style: italic;
// }

.strikeThru {
  text-decoration: line-through;
}
