* {
  font-family: 'Dosis', sans-serif;
}

.jumbotron {
  background-color: FOAD4E;
  width: 600px;
}

.jumbotron p {
  margin: 5px;
  font-size: 14px;
  width: 50%;
}

.navBar {
  display: flex;
  justify-content: flex-end;
}

.navBarItem {
  padding: 10px;
}

.container {
  width: 800px;
  
}

title {
  font-family: 'Coda Caption', sans-serif;
}

.col-sm-2 control-label {
  text-align: left;
  width: 100px;
}

.goalBox {
  display: flex;
  border: 1px solid grey;
  margin: 2px;
  width: 50%;
  margin-left: 0;
  flex-direction: row;
  padding: 10px;
}

.goalText {
  width: 50%;
  vertical-align: bottom;
}

.goalsContainer {
  display: flex;
  width: 100%;
  // align-items: flex-start;;
  flex-direction: row;
  flex-wrap: wrap;
  // padding: 30px;
  margin: 30px 0px 30px 0px;
}
// .inlineButton {
//   display: inline-block;
// }
.sticker {
  background-color: white;
  border: 1px solid black;
  margin: 10px;
}

.sticker-container {
  display: flex;
  flex-wrap: wrap;
  }
.addToCalendar {
  font-size: 12px;
}

.btn-xs {
  margin-right: 5px;
}
